
  .container {
    display: flex;
    min-height: 100vh;
  }
  @keyframes colorswap {
    from {background-color: red;}
    to {background-color: #292929;}
  }
  .titel {
    background-color: #292929;
    animation-name: colorswap;
    animation-duration: 4s;
  }
  .titel h1 {
    color: white;
    margin-left: 5px;
  }
  
  .sidebar {
    border: solid black;
    color: black;
    width: 200px;
    padding: 20px;
  }
  
  .sidebar h2 {
    color: #000000;
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .content {
    flex: 1;
    padding: 20px;

  }
  
  .header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .new-product-btn {
    border: solid black;
    background-color: #ffffff;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .new-product-btn:hover {
    background-color: #a3a3a3;
  }

  .product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #000000;
  }
  .product-table th {
    border: 1px solid #000000;
  }
  .product-table th, .product-table td {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    padding: 10px;
    text-align: left;
  }
  .product-table th {
    background-color: #cdcdcd;
  }
  .header2 {
    margin-bottom: 20px;
  }
  
  .product-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .product-form label {
    margin-bottom: 5px;
  }
  
  input[type="text"], input[type="file"], input[type="number"], textarea {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }
  #name {
    width: 40%;
  }
  #description {
    width: 70%;
  }
  #image {
    width: 70%;
  }
  #sku {
    width: 20%;
  }
  #price {
    width: 20%;
  }

  .categories label {
    margin-right: 10px;
  }
  
  .submit-btn {
    padding: 10px 20px;
    color: black;
    border: solid black;
    border-radius: 5px;
    font-size: 1em;
    width: 20%;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #b9b9b9;
  }